* {
  font-family: 'Lato', sans-serif;
   box-sizing: border-box;
}

.container {
  width: 85%;
}



/*------- Nav Component --------*/

.navbar {
  background-color: #1c39d0;
  color: white;
  height: 50px;
  padding: 10px;
  position: relative;
}
.logo {
  font-size: 20px;
  font-weight: bold;
}

#shop-link {
  padding: 30px;
  font-size: 16px;
  color: white;
}

#cart-link {
  position: absolute;
  right: 30px;
  top: 18px;
  color: white;
}

#items {
  background: white;
  color: black;
  padding: 1px 9px;
  border-style: solid;
  border-radius: 3px;
  border-width: thin;
  border-color: white;
}

/*------- Shop Component --------*/


.card {
  text-align: center;
  height: 30%;
  font-size: 11px;
}

.card .card-content {
  padding: 13px;
}

 .card:hover {
  box-sizing: border-box;
  border-style: solid;
  border-width: .5px;
  border-color: #1c39d0;
}

.card:hover img{
 box-sizing: border-box;
 border-style: solid;
 border-width: .5px .5px 0 .5px;
 border-color: #1c39d0;

}

.card:hover .add-button {
  border-color: #1c39d0;
}

.add-button {
  border-style: solid;
  border-radius: 5px;
  border-width: .5px;
  padding: 4px 15px;
  color: black;

}

#price {
  font-size: 16px;
  margin: 5px;
}



/*------- Cart Component --------*/
